html,
body {
    min-height: 100%;
    position: relative;
}

body {
    overflow-x: hidden;
}

.container {
    @media (min-width: 1200px) {
        max-width: 1230px;
    }
    /*@media (min-width: 1600px) {
        max-width: 1440px;
    }*/
}


