.ps-footer {
    @extend %list-reset;
    /*  background-color: #000;*/

    .ps-footer__links {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin-right: 0.5em;

            &:after {
                display: inline-block;
                margin-left: 0.5em;
                content: '/';
                color: rgba(#fff, 0.5);
            }

            a {
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
                color: #fff;

                &:hover {
                    color: $color-1st;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    .ps-footer__bottom {
        padding: 20px 0;
    }
}

.ps-footer--default {
    .ps-footer__content {
        padding: 50px 0;
        text-align: center;
    }

    .ps-footer__copyright {
        p {
            color: $color-contrast-low;
        }
    }

    .ps-footer__socials {
        text-align: right;
    }

    .ps-footer__bottom {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        .ps-footer__bottom {
            margin-bottom: 30px;
        }
    }
}

.ps-footer--full-content {
    background-color: #f4f8f9;
    text-align: center;

    .ps-logo {
        img {
            max-height: 50px;
        }
    }

    .ps-footer__copyright {
        padding: 20px 0;
        background-color: darken(#f4f8f9, 2%);
    }

    .ps-footer__copyright-left {
        .ps-logo {
            margin-right: 50px;
        }
    }

    @media screen and (min-width: 1200px) {
        .ps-footer__content {
            padding: 100px 0 50px;
        }

        .ps-footer__copyright-left {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            p {
                margin-bottom: 0;
                color: $color-heading;
            }

            .ps-logo {
                margin-right: 50px;
            }
        }

        .ps-footer__copyright > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.ps-footer--second {
    position: relative;

    .ps-widget {
        margin-bottom: 30px;
    }

    .ps-footer__copyright {
        p {
            margin-bottom: 0;
            line-height: 30px;
            font-weight: 300;
            font-size: 13px;
            color: $color-heading;
        }
    }

    .ps-footer__social {
        text-align: center;

        li {
            a {
                color: $color-contrast-low;

                &:hover {
                    color: $color-contrast;
                }
            }
        }
    }

    .ps-footer__top {
        padding: 30px 0;
    }

    .ps-footer__bottom {
        background-color: #edf4f5;
        text-align: center;
    }

    &.dark {
        .ps-widget--footer {
            .ps-widget__heading {
                color: $color-contrast-lower;
                font-weight: 300;
                letter-spacing: 0.05em;
            }

            .ps-list {
                li {
                    a {
                        color: #a1a7b3;

                        &:hover {
                            color: $color-contrast;
                        }
                    }
                }
            }
        }

        .ps-widget--address {
            p {
                color: $color-contrast-lower;
            }
        }

        .ps-widget--about-site {
            a {
                color: $color-contrast-lower;

                &:hover {
                    color: $color-1st;
                }
            }

            p {
                color: $color-contrast-low;
            }
        }

        .ps-footer__copyright {
            p {
                color: $color-contrast-lower;

                a {
                    color: $color-1st;
                }
            }
        }

        .ps-footer__top {
            background-color: #282e3a;
        }

        .ps-footer__bottom {
            background-color: #252b37;
        }
    }

    @media screen and (min-width: 1200px) {
        .ps-footer__top {
            padding: 80px 0 50px;
        }

        .ps-footer__social {
            text-align: right;
        }

        .ps-footer__bottom {
            text-align: left;
        }
    }
}

.ps-footer--simple {
    background-color: $color-dark;

    .ps-logo {
        margin-bottom: 20px;
    }

    .ps-list--social-text {
        display: block;

        li {
            display: inline-block;
            margin-right: 20px;

            a {
                color: #fff;

                i {
                    margin-right: 0.5em;
                }

                &:hover {
                    color: $color-1st;
                }
            }

            &:last-child {
                margin-right: 20px;
            }
        }
    }

    p {
        margin-bottom: 0;
    }

    .menu--footer {
        li {
            a {
                color: $color-contrast-lower;
                font-weight: 300;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    .ps-footer__top {
        padding: 50px 0;
        text-align: center;
    }

    .ps-footer__bottom {
        background-color: darken($color-dark, 2%);
        p {
            color: $color-contrast-low;
        }
    }

    @media screen and (max-width: 767px) {
        .ps-footer__copyright {
            text-align: center;

            p {
                font-size: 13px;
            }
        }

        .row {
            flex-flow: column-reverse nowrap;
        }

        .ps-footer__links {
            margin-bottom: 16px;
        }

        .ps-footer__bottom {
            padding-top: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        .ps-footer__top {
            padding: 100px 0;
        }

        .ps-footer__links {
            justify-content: flex-end;
        }
    }
}
